@import "~tfstyleguide/vars";

.date-picker-container {
	.icon-navigateleft {
		position: absolute;
		left: .5em;
		top: 5px;
		cursor: pointer;
	}

	.icon-navigateright {
		position: absolute;
		right: .5em;
		top: 5px;
		cursor: pointer;
	}
}

.button.date-picker-button {
	background-color: @gray5;
	color: @gray75;
	position: relative;
	margin-bottom: 0;

	&:hover {
		background-color: @gray15;
		color: @black;
	}

	.icon-navigatedown {
		position: absolute;
		right: 1em;
		top: 15px;
	}
}

.date-picker {
	width: 330px;
	border-top: 1px solid @gray15;
	border-left: 1px solid @gray15;
	border-right: 1px solid @gray15;
	background-color: @white;
	position: absolute;
	z-index: 10;
}

.days-container {
	display: flex;
	flex-wrap: wrap;
}

.selected-day {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5px;
	font-size: 12px;
	color: @blue125;
}

.arrow-left {
	position: absolute;
	left: 5px;
	top: 5px;
	border-right: 12px solid @gray75;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	cursor: pointer;
}

.arrow-right {
	position: absolute;
	right: 5px;
	top: 5px;
	border-left: 12px solid @gray75;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	cursor: pointer;
}

.day-headings {
	height: 50px;
	width: 330px;
	display: flex;
	border-bottom: 1px solid @gray15;

	.day-heading {
		flex-grow: 1;
		width: ~"calc(100% / 7)";
		text-align: center;
		font-size: 12px;
		color: @gray50;
		padding-top: 27px;
	}
}

.day {
	font-size: 16px;
	flex-grow: 1;
	text-align: center;
	width: ~"calc(100% / 7)";
	height: 40px;
	border-bottom: 1px solid @gray15;
	padding-top: 6px;
	cursor: pointer;

	&.unclickable {
		background-color: @gray5;
		pointer-events: none;
	}

	&.active {
		background-color: @blue25;
	}
}

.hidden {
	display: none;
}
