@import '~tfstyleguide/vars';

.button.button__white.dd-button {
  max-width: 100%;
  position: relative;
  text-align: left;
  color: @gray75;
  background-color: @gray5;
  margin-bottom: 0;

  &:focus, &:hover, &:active, &:visited {
    outline: none;
    background-color: @gray15;
    color: @gray75;
  }

  .icon-navigatedown {
    position: absolute;
    right: 1em;
    top: 15px;
    pointer-events: none;
  }
}

.dd-open {
  max-height: 300px;
  overflow: scroll;
  border-top: 1px solid @gray15;
  background-color: @gray5;
  max-width: (@column-px * 4 + @gutter-px * 3);
  cursor: pointer;

  p {
    color: @gray75;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: @white;
    }
  }
}

.hidden {
  display: none;
}
