@import "~tfstyleguide/vars";

.availability-grid {
  width: 620px;
  margin: 0 auto 30px auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  &.availability-grid__disabled {
    color: @gray50;

    .availability-grid-days {
      color: @gray50;
    }

    .availability-grid-slot {
      background-color: @gray5;
      border-color: @white;
      cursor: default;

      &.selected {
        background-color: @gray25;
      }
    }
  }
}

.availability-grid-slot-names {
  display: inline-block;
  width: 75px;
  font-size: 12px;
  vertical-align: bottom;
}

.availability-grid-slot-name {
  line-height: 29px;
  padding-left: 15px;
}

.availability-grid-days {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: @gray75;
}

.availability-grid-day {
  display: inline-block;
  width: 59px;
  line-height: 30px;
}

.availability-grid-slot {
  width: 59px;
  height: 29px;
  margin: 0;
  background-color: @gray15;
  border: @gray5 1px solid;
  border-width: 1px 0px 0px 1px;
  cursor: pointer;

  &.selected {
    background-color: @blue50;
  }
}
